@tailwind base;
@tailwind components;
@tailwind utilities;
.input-container{
  background-color: black;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 0, 0.556);
  width: 90%;
  height: auto;
  
}
.input-container-1{
  background-color: black;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 0, 0.556);
  width: 90%;
  height: auto;
}